<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.conan.fashionclassbook.dao.BookMapper">

    <resultMap id="BaseResultMap" type="com.conan.fashionclassbook.pojo.Book">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="INTEGER"/>
        <result column="cover_img" property="coverImg" jdbcType="VARCHAR"/>
        <result column="school" property="school" jdbcType="VARCHAR"/>
        <result column="clazz" property="clazz" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="last_time" property="lastTime" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, `customer_id`, `cover_img`, school, clazz, `status`, create_time, last_time
    </sql>

    <sql id="tableName">
        fcb_book
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        where status != 9
    </select>

    <select id="getById" resultMap="BaseResultMap" parameterType="int">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        where status != 9 AND id = #{id}
    </select>

    <insert id="insertSelective" parameterType="com.conan.fashionclassbook.pojo.Banner">
        insert into
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="coverImg != null">
                `cover_img`,
            </if>
            <if test="customerId != null">
                `customer_id`,
            </if>
            <if test="school != null">
                `school`,
            </if>
            <if test="clazz != null">
                `clazz`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastTime != null">
                last_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="coverImg != null">
                #{coverImg,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=INTEGER},
            </if>
            <if test="school != null">
                #{school,jdbcType=VARCHAR},
            </if>
            <if test="clazz != null">
                #{clazz,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastTime != null">
                #{lasttime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        where id = #{id}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.conan.fashionclassbook.pojo.Book">
        update
        <include refid="tableName"/>
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                `customer_id` = #{customerId,jdbcType=INTEGER},
            </if>
            <if test="coverImg != null">
                `cover_img` = #{coverImg,jdbcType=VARCHAR},
            </if>
            <if test="school != null">
                `school` = #{school,jdbcType=VARCHAR},
            </if>
            <if test="clazz != null">
                `clazz` = #{clazz,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastTime != null">
                last_time = #{lastTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="changeStatusById" parameterType="map">
        update
        <include refid="tableName"/>
        set `status` = #{status} where id = #{id}
    </update>

</mapper>